{{>common/header}}

<script src="http://code.jquery.com/jquery-latest.js"></script>
<link rel="stylesheet" type="text/css" href="/static/css/auth/find_id.css">
<body>      
    <div class="find_id_page contact_form_section">
        <div class="container">
            <div class="row">
                <div class="col">

                    <!-- form -->
                    <div class="contact_form_container">
                        <div class="contact_title text-center">아이디 찾기</div>
                        <form action="/auth/find-id" id="contact_form" class="contact_form text-center" method="post">
                            <div class="row justify-content-center">
                                <input type="text" id="contact_form_name" name="userNm" class="contact_form_name input_field" placeholder="이름을 입력하세요." required="required" data-error="test">
                            </div>
                            <div class="row justify-content-center">
                                <input type="email" id="contact_form_email" name="userEmail" class="contact_form_email input_field" placeholder="이메일을 입력하세요." required="required" date-error="test1">
                            </div>
                    
                            <button type="submit" id="form_submit_button" class="form_submit_button button trans_200">아이디 찾기<span></span><span></span><span></span></button>
                                <!-- 버튼을 누르면 post 방식으로 컨트롤에게 요청 -->
                        </form>

                        {{#errorMessage}}
                        <div>
                            <p>{{errorMessage}}</p>
                        </div>
                        {{/errorMessage}}
                
                
                        <div class="contact_info_item d-flex justify-content-around">
                            <div class="form_submit_button button trans_200"><a href="/auth/login" target="_top">로그인 화면 이동<span></span><span></span><span></span></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<!-- <script>
    $(document).ready(function(){
        function showErrorModal(errorMessage) {
        $('#errorMessage').text(errorMessage); // 에러 메시지 설정
        $('#errorModal').modal('show'); // 모달 창 열기
    }
        $("#contact_form").submit(function(event){
            event.preventDefault();

            let formData = {
                    userNm: $('#contact_form_name').val(),
                    userEmail: $('#contact_form_email').val()
            };

            $.ajax({
                    type: 'POST',
                    url: '/auth/find-id', // 실제 요청을 보낼 엔드포인트
                    data: formData,
                    dataType: 'json',
                    encode: true,
                    success: function (response) {
                    },
                    error: function (xhr, status, error) {
                        console.log(formData);
                        var errorMessage = xhr.responseJSON.message; // 서버에서 전달된 한글 에러 메시지 가져오기
                        showErrorModal(errorMessage); // 에러 메시지 모달로 출력
                    }
            });
    });
});
</script> -->
{{>common/footer}}	