{{>common/header}}
<link href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/static/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/static/css/blog_styles.css">
<link rel="stylesheet" type="text/css" href="/static/css/blog_responsive.css">
</head>

<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">

		<!-- Top Bar -->

		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="user_box ml-auto my-auto">
							<div class="user_box_link">
								{{#userId}}
								<a class="user_info btn btn-link p-1" role="button" href="#">
									<i class="fas fa-circle-user"></i>
									<span>재전</span>
								</a>
								{{/userId}}
								{{^userId}}
								<a class="user_join btn btn-light my-1 px-1 py-0" role="button" href="/loginPage" style="font-size:15px;" >
									로그인 / 회원가입
								</a>
								{{/userId}}
							</div> 
						</div>
					</div>
				</div>
			</div>		
		</div>

		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
						<div class="logo_container">
							<div class="logo"><a href="/"><img src="/static/img/logo.png" alt="">TRIP(가제)</a></div>
						</div>
						<div class="main_nav_container ml-auto">
							<ul class="main_nav_list">
								<li class="main_nav_item"><a href="/">홈</a></li>
								<li class="main_nav_item"><a href="/lodge">숙박</a></li>
								<li class="main_nav_item"><a href="/plan">일정</a></li>
								<li class="main_nav_item"><a href="/board">게시판</a></li>
								<!-- <li class="main_nav_item"><a href="contact.html">탑 메뉴</a></li> -->
							</ul>
						</div>

						<div class="hamburger ml-lg-0 ml-auto">
							<i class="fa fa-bars trans_200"></i>
						</div>
					</div>
				</div>
			</div>	
		</nav>

	</header>
	<div class="home">
		
		<!-- Home Slider -->

		<div class="home_slider_container">
			
			<div class="owl-carousel home_slider">
				<!-- Slider Item -->
				<div class="home_slider_item">
					<!-- Image by https://unsplash.com/@anikindimitry -->
					<div class="home_slider_background" style="background-image:url(/static/img/home_slider.jpg)"></div>

					<div class="home_slider_content text-center">
						<div class="home_slider_content_inner">
							<h1>{{menuTitle}}</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{>common/sidebar}}
	</div>
</div>


    
    <div id="container">
        <div id="contents">
            <div class="xans-element- xans-board xans-board-title-4 xans-board-title xans-board-4">
                <div class="title">
                    <h2>
                        <font color="333333">공지사항</font>
                    </h2>
                    <p>공지사항을 알려드리는 게시판입니다.</p>
                </div>
            </div>
            <div class="boardList">
                <table border="1" summary>
                    <caption>공지 게시판 목록</caption>
                    <colgroup class="xans-element- xans-board xans-board-listheader-4 xans-board-listheader xans-board-4">
                        <col style="width:70px;">
                        <col style="width:auto;">
                        <col style="width:84px;">
                        <col style="width:80px;" class="">
                    </colgroup>
                    <thead class="xans-element- xans-board xans-board-listheader-4 xans-board-listheader xans-board-4 ">
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">작성일</th>
                    </thead>
                    <tbody class="xans-element- xans-board xans-board-list-4 xans-board-list xans-board-4">
                        <tr style="background-color: #FFFFFF; color:#555555;" class="xans-record">
                            <td class="subject">

                            </td>
                        </tr>
                        <tr style="background-color: #FFFFFF; color:#555555;" class="xans-record"></tr>
                        <tr style="background-color: #FFFFFF; color:#555555;" class="xans-record"></tr>
                        <tr style="background-color: #FFFFFF; color:#555555;" class="xans-record"></tr>
                        <tr style="background-color: #FFFFFF; color:#555555;" class="xans-record"></tr>

                    </tbody>
                </table>
            </div>
            <div class="xans-element- xans-board xans-board-paging-4 xans-board-paging xans-board-4">
                <p>
                    <a href="?board_no=6&page=1">
                        <img src="https://img.echosting.cafe24.com/skin/base_ko_KR/common/btn_page_prev.gif" alt="이전 페이지">
                    </a>
                </p>
                <ol>
                    <li class="xans-record-">
                        <a href="?board_no=6&amp;page=1" class="this">1</a>
                    </li>
                    <li class="xans-record-">
                        <a href="?board_no=6&amp;page=2" class="this">2</a>
                    </li>
                    <li class="xans-record-">
                        <a href="?board_no=6&amp;page=3" class="this">3</a>
                    </li>
                    <li class="xans-record-">
                        <a href="?board_no=6&amp;page=4" class="this">4</a>
                    </li>
                </ol>
            </div>
        </div>


    </div>

{{>common/footer}}