<!DOCTYPE html>
<html lang="en">
<head>
<title>Camino - Join</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Travelix Project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<link href="/static/plugins/font-awesome-6.5.1/css/all.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="/static/css/main_styles.css">
<link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
<script src="http://code.jquery.com/jquery-latest.js"></script>
</head>

<script type="text/javascript">
	$(function(){		
		if($("#joinForm").submit(function(){
			if($("#userPw").val() !== $("#userPw2").val()){
				alert("비밀번호가 다릅니다.");
				$("#userPw").val("").focus();
				$("#userPw2").val("");
				return false;
			}else if($.trim($("#userPw").val()) !== $("#userPw").val()){
				alert("공백은 입력이 불가능합니다.");
				return false;
			}
		}));
	})

    $(document).ready(function() {
        //ID 중복 확인
        //id를 입력할 수 있는 input text 영역을 벗어나면 동작한다.
        $("#userId").on("focusout", function() {
            
            var id = $("#userId").val();
            
            if(id == '' || id.length == 0) {
                $("#label1").css("color", "red").text("공백은 ID로 사용할 수 없습니다.");
                return false;
            }
            
            //Ajax로 전송
            $.ajax({
                url : './ConfirmId',
                data : {
                    id : id
                },
                type : 'POST',
                dataType : 'json',
                success : function(result) {
                    if (result == true) {
                        $("#label1").css("color", "black").text("사용 가능한 ID 입니다.");
                    } else{
                        $("#label1").css("color", "red").text("사용 불가능한 ID 입니다.");
                        /* $("#userId").val(''); */
                    }
                }
            }); //End Ajax
        });
    })
</script>

<body>

<div class="super_container">
    
    <!-- Header -->

    <header class="header">

        <!-- Top Bar -->

        <div class="top_bar">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-row">
                        <div class="user_box ml-auto my-auto">
                            <div class="user_box_link">
                                {{#username}}
                                <a class="user_info btn btn-link p-1" role="button" href="#">
                                    <i class="fas fa-circle-user"></i>
                                    <span>{{username}}님 반갑습니다.</span>
                                </a>
                                {{/username}}
                                {{^userId}}
                                <a class="user_logout btn btn-light my-1 px-1 py-0" role="button" href="/logout" style="font-size:13px;" >
                                    로그아웃
                                </a>
                                <a class="user_mypage btn btn-light my-1 px-1 py-0" role="button" href="/mypage" style="font-size:13px;" >
                                    마이페이지
                                </a>
                                {{/userId}}
                            </div> 
                        </div>
                    </div>
                </div>
            </div>		
        </div>

        <!-- Main Navigation -->

        <nav class="main_nav">
            <div class="container">
                <div class="row">
                    <div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
                        <div class="logo_container">
                            <div class="logo"><a href="/"><img src="/static/img/logo.png" alt="">CAMINO</a></div>
                        </div>
                        <div class="main_nav_container ml-auto">
                            <ul class="main_nav_list">
                                <li class="main_nav_item"><a href="/">홈</a></li>
                                <li class="main_nav_item"><a href="/lodge">숙박</a></li>
                                <li class="main_nav_item"><a href="/plan">일정</a></li>
                                <li class="main_nav_item"><a href="/board">게시판</a></li>
                                <!-- <li class="main_nav_item"><a href="contact.html">탑 메뉴</a></li> -->
                            </ul>
                        </div>

                        <div class="hamburger ml-lg-0 ml-auto">
                            <i class="fa fa-bars trans_200"></i>
                        </div>
                    </div>
                </div>
            </div>	
        </nav>

    </header>
    <div class="home">
        
        <!-- Home Slider -->

        <div class="home_slider_container">
            
            <div class="owl-carousel home_slider">
                <!-- Slider Item -->
                <div class="home_slider_item">
                    <!-- Image by https://unsplash.com/@anikindimitry -->
                    <div class="home_slider_background" style="background-image:url(/static/img/home_slider.jpg)"></div>

                    <div class="home_slider_content text-center">
                        <div class="home_slider_content_inner">
                            <h3 class="main_nav_item_select">회원가입</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{>common/sidebar}}
    </div>

    
    <div class="menu_content d-flex flex-column align-items-center justify-content-left text-center">
        <div class="menu_close_container"><div class="menu_close"></div></div>
        <h1>Join Page</h1>
        <form id="joinForm" action="/join" method="post">
            <label for="id">* Id: </label>
            <input type="text" id="userId" name="userId" placeholder="아이디를 입력하세요." required autofocus>
            <label id="label1"></label>
            <small>숫자-영문 소문자 이외 항목 미포함</small> 
            <!-- <button>중복 확인</button> -->
            <br>
            <label for="pwd">* Password: </label>
            <input type="password" id="userPw" name="userPw" placeholder="비밀번호를 입력하세요." required> <small>최소 8글자</small>
            <br>
            <label for="pwd_equal"> Password 확인: </label>
            <input type="password" id="userPw2" name="userPw2" placeholder="비밀번호 확인">
            <br>
            <label for="email">* Email: </label>
            <input type="email" name="userEmail" placeholder="이메일을 입력하세요." required>
            <br>
            <label for="name">* Name: </label>
            <input type="text" name="userNm" placeholder="이름을 입력하세요." required>
            <br>
            <label for="gender">Gender: </label>
            <label for="Male">Male</label>
            <input type="radio" id="Male" name="userSex" value="Male" checked>
            <label for="Male">Female</label>
            <input type="radio" id="Female" name="userSex" value="Female">
            <br>
            <label for="phone">* Phone: </label>
            <input type="phone" name="userPhNmb" placeholder="전화번호를 입력하세요.">
            <br>
            <input type="submit" value="회원가입">
            <!-- submit 버튼을 누르면 post 방식으로 컨트롤에게 요청 -->
            <!-- dto로 받아서 서비스로 전달 -> mysql에 저장 -->
        </form>
        <a href="/loginPage">로그인 화면 이동</a>
        <a href="/board">홈으로 이동</a>    
</body>
</html>